@{ 
	Layout = null;
}
<html lang="ja">
<head>
	<meta charset="utf-8"/>
	<title>パナマップ</title>
	<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script src="http://openlayers.org/api/OpenLayers.js"></script>
	<script src="/Scripts/panamap.js"></script>
</head>
<body>
	<h1>パナマップ</h1>
    <div id="map"></div>
</body>
</html>
