@{ 
	Layout = null;
}
<html lang="ja">
	<head>
		<meta charset="utf-8"/>
		<!-- スマートフォン用 -->
	  	<meta name="viewport" content="width=320, height=480, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
			
		<title>パナマップ｜パナマ文書解析プロジェクト</title>
			
		<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

		<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
		<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
		
		<script src="http://openlayers.org/api/OpenLayers.js"></script>
		<script type="text/javascript">
			var center = { 
				lon: @ViewBag.Lon,
				lat: @ViewBag.Lat,
				zoom: @ViewBag.Zoom
			};
		</script>
		<script src="/Scripts/panamap.js"></script>
	</head>
	<body>
		<h1>パナマップ</h1>
		<div><ul><li><a href="https://github.com/pg2ch/panama">ソースコードやSQL化したパナマ文書など</a></li></ul></div>
		<div style="height:80%">
		    <div id="map" style="height:80%"></div>
			<table id="table" class="display">
				<thead>
			        <tr>
		            	<th>Node ID</th>
						<th>Lat</th>
						<th>Lon</th>
			            <th>Address</th>
			        </tr>
			    </thead>
			</table>
		</div>
	</body>
</html>
