<?xml version="1.0"?>
<!--
Web.config file for PanaMap.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.5" />

	<!-- エラー発生時に詳細を表示する -->
	<customErrors mode="Off" />

  </system.web>

  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>

  <!-- データベース設定 -->˚
  <connectionStrings>
    <add name="default" 
		 providerName="Npgsql" 
		 connectionString="Server=localhost; Port=5432; User Id=_postgres; Password=; Database=panamap" />
  </connectionStrings>
	
</configuration>